ansio
python-dotenv
langchain-groq
langchain-huggingface
langchain-openai
langchain-community
langchain-anthropic
langchain-chroma
langchain-google-genai
webcolors
sentence-transformers
docker
paramiko
duckduckgo_search
inputimeout
flask
numpy
sympy
cryptography
stripe
gunicorn
flask_cors
cirq
twilio